<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ToDo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\MyDatabase#1.sdf;Password=Pass@1234&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/TodoModel1.csdl|res://*/TodoModel1.ssdl|res://*/TodoModel1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\MyDatabase#1.sdf;Password=Pass@1234&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities2" connectionString="metadata=res://*/TodoModel1.csdl|res://*/TodoModel1.ssdl|res://*/TodoModel1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\bin\Release\MyDatabase#1.sdf;Password=Pass@1234&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities3" connectionString="metadata=res://*/TodoModel.csdl|res://*/TodoModel.ssdl|res://*/TodoModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\MyDatabase#1.sdf;Password=Pass@1234&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\MyDatabase#1.sdf;Password=Pass@1234&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <ToDo.Properties.Settings>
      <setting name="TodoCompleteTaskDisplay" serializeAs="String">
        <value>hidden</value>
      </setting>
    </ToDo.Properties.Settings>
  </userSettings>
</configuration>